
       @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
        *{
            margin: 0;
            margin-bottom: 20px;
            padding: 0;
            box-sizing: border-box;
            
            font-family: 'Montserrat', sans-serif;
          
            font-size: 16px;
        
            line-height: 1.6;
          
            font-weight: 400;
            
            
        }
        main {
            display: flex;
            justify-content: center;
            gap:20px;
            margin-top: 50px;
           
          
        }
        .card{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-shadow: 20px 20px 60px #d9d9d9,
                        -20px -20px 60px #ffffff;
             border-radius: 25px;
            border-color:white;          
        }
    header {
      display: flex;
      gap: 420px;
      align-items: center;
      background-color: #003366;
      color: white;
      padding: 20px;
      height: 70px;
    }
    a {
      color: white;
      text-decoration: none;
      border-radius: 5px;
      height: 30px;
      width: 70px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    a:hover {
      background-color: #F68E37;
    }
    footer{
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #003366;
          padding: 20px;
          text-align: center;
          color: white;
        }
        header h4{
                margin-top: 10px;
                color: white;
        }
        section{
          margin-left: 10px;
        }
        .card a{
                  background-color: #003366;
                  border-color: #003366;
        }
        html, body {
        height: 100%;
                   }
         body {
          display: flex;
          flex-direction: column;
          min-height: 100vh;}
          main {
           flex: 1;
}

       
           

        @media (max-width: 868px){
        header{
          display: flex;
          gap: 2px;
          height:340px;
          align-items: center;;
          background:  #003366;
          padding-top: -10px;
        }
        .menu{
            padding-top: -0px;
        }
          main {
        display: flex;          
        flex-direction: column;  
        align-items: center;     
        gap: 20px;              
        margin-top: 30px;
    }

}
            
        